h1 {
  margin: 0;
  font-weight: 700;
  font-size: 3.75rem;
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
}

h2 {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}

p {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

h3 {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 700;
}

h4 {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
}
h5 {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.975rem;
  color: #ff2d2d;
}

h6 {
  margin: 0;

  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.975rem;
  color: grayscale($color: #00000033);
}
