.main-banner {
  display: flex;
  background-color: #EBEFF1;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;

  &.small {
    height: 6.25rem;
    width: 18.75rem;
    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  &.medium {
    height: 9.375rem;
    width: 31.25rem;
    p {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  &.large {
    height: 12.5rem;
    width: 50rem;
    p {
      font-size: 3rem;
      line-height: 3.5rem;
    }
  }

  &.contain {
    height: 9.375rem;
    p {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  p {
    font-family: "IBM Plex Sans", sans-serif;
    color: gray;
    font-weight: 700;
  }
}