.main-card-container {
    display: flex;
    flex-direction: column;
    text-align: start;
    max-width: 45rem;
}

.secondary-card-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    img {
        image-rendering: optimizeQuality;
        border-radius: 0.625rem;
    }
}

.base-article-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;
    height: 3.125rem;
    .divider {
        height: 3.125rem;
        border-left: 6px solid green;
    }
}