.main-nav {
  display: flex;
  background-color: #ffbd14;
  width: 100%;

  .button-icon {
    cursor: pointer;
    background-color: black;
    align-content: center;
    padding: 1rem;
  }

  .nav-text {
    width: 100%;
    text-align: center;
    p {
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 2rem;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
  }
}
