.main-nav {
  display: flex;
  background-color: #ffbd14;
  width: 100%;
  height: 3.375rem;
  align-items: center;
  .button-icon {
    cursor: pointer;
    background-color: black;
    align-content: center;
    padding: 1rem;
  }

  .nav-text {
    width: 100%;
    text-align: center;
    p {
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 2rem;
      font-family: "IBM Plex Sans", sans-serif;
      color: black;
    }
  }
}
